<ion-header class="borde-contenedor">
  <ion-toolbar color="dark">
    <ion-title>Confirmar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">
  <div>
    <ion-card class="borde-contenedor fondo">
      <ion-slide>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="https://cdn-icons-png.flaticon.com/512/3427/3427189.png">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-card-content>
        <form>
          <ion-item class="altura-item borde-input" color="dark">
            <ion-label position="floating">Ingrese Código</ion-label>
            <ion-input type="text" required="true"></ion-input>
          </ion-item>
          <br>
          <ion-button button-type="button" href="/login" color="primary" expand="block">Confirmar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 