<ion-header class="borde-contenedor">
  <ion-toolbar color="dark">
    <ion-title>Confirmar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">

    <ion-card class="borde-contenedor fondo">
      <ion-slide>
        <ion-row>
          <ion-col>
            <ion-thumbnail>
              <img src="https://cdn-icons-png.flaticon.com/128/2194/2194629.png">
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-card-content>
        <form [formGroup]="formCodigo">
          <ion-item class="altura-item borde-input" color="dark">
            <ion-label position="floating">Ingrese Código</ion-label>
            <ion-input type="text" id="codigo" formControlName="codigo"></ion-input>
          </ion-item>
          <br>
          <ion-button (click)="ingresarCodigo();" color="primary" expand="block">Confirmar</ion-button>
        </form>
      </ion-card-content>

    </ion-card>
</ion-content> 

<ion-footer class="borde-contenedor">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="log-out-outline"></ion-back-button>
    </ion-buttons>

    <ion-slide>
      <ion-title>
        RegistrAPP
      </ion-title>
    </ion-slide>

    <ion-buttons slot="end">
      <ion-button id="changeText">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>