<ion-header class="borde-contenedor">
  <ion-toolbar color="dark">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">
  <ion-card class="borde-contenedor fondo">

    <ion-slide>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img src="https://banner2.cleanpng.com/20180401/dbq/kisspng-user-profile-computer-icons-profile-5ac09245049c32.0935523415225697970189.jpg">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-card-header>
      <ion-card-title color="light">Iniciar Sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item class="altura-item borde-input" color="dark">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" id="nombre" formControlName="nombre"></ion-input>
        </ion-item>
        <br>

        <ion-item class="altura-item borde-input" color="dark">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" id="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="fondo" >
          <ion-checkbox color="secondary" checked="false" slot="start"></ion-checkbox>
          <ion-label class="ion-text-wrap" color="light">Desea Mantener Sesion Iniciada</ion-label>
        </ion-item>

        <ion-button (click)="ingresar();" color="primary" expand="block">Iniciar Sesion</ion-button>

        <ion-slide>
          <ion-item class="fondo">
            <a href="/recuperar-contra" color="secondary">¿Olvidaste tu contraseña?</a>
          </ion-item>
        </ion-slide> 
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>

