<ion-header class="borde-contenedor">
  <ion-toolbar color="dark">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">
  <ion-card class="borde-contenedor fondo">

    <ion-slide>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img src="https://cdn-icons-png.flaticon.com/512/3427/3427189.png">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-card-content>
      <form [formGroup]="formRecuperarContra">
        <ion-item class="altura-item borde-input" color="dark">
          <ion-label position="floating">Ingrese Correo de Verificacion</ion-label>
          <ion-input type="email" id="correoRecuperacion" formControlName="correoRecuperacion"></ion-input>
        </ion-item>
        <br>

        <ion-button (click)="ingresarCorreo();" color="primary" expand="block">Recuperar</ion-button>

      </form>
    </ion-card-content>

  </ion-card>
</ion-content> 

<ion-footer class="borde-contenedor">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="log-out-outline"></ion-back-button>
    </ion-buttons>

    <ion-slide>
      <ion-title>
        RegistrAPP
      </ion-title>
    </ion-slide>

    <ion-buttons slot="end">
      <ion-button id="changeText">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

