.borde-contenedor {
    border: 1px solid rgb(0, 135, 255);
}

.borde-input {
    border-bottom: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
}

.fondo {
    background-color: rgb(15, 15, 15);
}