<ion-header [translucent]="true">
  <ion-toolbar color="dark" class="borde-contenedor">
    <ion-title>
      Bienvenid@ a RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card class="borde-contenedor fondo">

      <ion-card-content>
        <ion-slide>
          <ion-grid>

            <ion-row>
              <ion-col>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/640px-Logo_DuocUC.svg.png" alt="icono">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button href="/login" fill="clear">Ingresar<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
