<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenid@
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card color="light">

      <ion-card-content>
        <ion-slide>
          <ion-grid>

            <ion-row>
              <ion-col>
                <img src="https://image.flaticon.com/icons/png/128/3419/3419271.png" alt="icono">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button href="/login" fill="clear">Ingresar<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
